@font-face {
    font-family: 'MyFont';
    src: url('fonts/MyFont.ttf') format('truetype');
}

body, html {
    height: 100%;
    margin: 0;
}

.background {
    /* 背景图片 */
    background-image: url('img/charactor3.jpg');
    /* 背景图片的大小覆盖整个屏幕 */
    background-size: cover;
    /* 背景图片固定，不随内容滚动 */
    background-attachment: fixed;
    /* 背景图片的位置 */
    background-position: center;
    /* 背景图片重复 */
    background-repeat: no-repeat;
    /* 全屏幕高度 */
    height: 100%;
    /* 让文字居中 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 设置字体颜色和大小 */
    color: rgb(255, 255, 255);
    text-align: center;
    flex-direction: column;
}

.text {
    margin: 0;
    font-size: 3em; /* 主页面两行字放大 */
    font-family: 'MyFont', sans-serif; /* 使用自定义字体 */
}

.links {
    margin-top: 5px;
    font-size: 1em; /* 子页面名称文字变小 */
    font-family: 'MyFont', sans-serif; /* 使用自定义字体 */
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.links a:hover {
    text-decoration: underline;
}
